<% url = url_for(:feed, :create, page: @page) %>

<div class="card">
  <div class="card-header bg-info">
    <%= link_to SWAP_ICON, url_for(:post, :index), title: 'to Posts', class: 'btn btn-link navigation' %>

    <button type="button" title="add Feed", class="btn btn-light btn-circle"  data-toggle="modal"
          data-target="#feedForm" aria-label="Add" style="float:right; font-size:20pt">
	  <%= ADD_ICON %>
    </button>

    <h2 class="card-title text-center">Feeds</h2>
    
    <%= partial 'layouts/flash' %>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="feedForm" role="dialog">
    <div class="modal-dialog">
      <%= partial 'feed/form', object: Feed.new,
            locals: {url: url, page: @page, button: button_to('Submit',  url, class: :form)} %>
    </div>
  </div>

  <% if @feeds.current_page_record_count == 0 %>
    <h2 class="card-content" style="text-align: center">
      No feeds
    </h2>
  <% else %>
    <%= partial('layouts/pagination', object: @feeds) if (PAGINATION & FEED_TOP) != 0 %>

    <table id="feed" class="table table-striped">
      <tbody>
        <%= partial 'feed/feed', collection: @feeds %>
      </tbody>
    </table>

    <%= partial('layouts/pagination', object: @feeds) if (PAGINATION & FEED_BOTTOM) != 0 %>
  <% end %>
</div>

