<div class="card">
  <div class="card-header bg-info">
    <%= link_to BACK_ICON, url_for(:feed, :index, current: @feed[:id]), title: 'to Feeds', class: 'navigation',
    	  style: 'font-size: xxx-large; font-weight: bold' %>

    <div class="actions">
      <button type="button" class="btn btn-default btn-lg action"  data-toggle="modal" data-target="#editModal"
            aria-label="Edit">
        <%= EDIT_ICON %>
      </button>

      <button type="button" class="btn btn-default btn-lg action"  data-toggle="modal" data-target="#deleteModal"
            aria-label="Delete">
        &times;
      </button>
    </div>
    
    <h2 class="card-title"><%= @context %></h2>

    <%= partial 'layouts/flash' %>
  </div>

  <!-- Edit modal -->
  <div class="modal fade" role="dialog" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <% form_tag url(:feed, :update, id: @feed[:id]), class: 'form-horizontal', method: :put do %>
          <div class="modal-header">
            <h4 class="modal-title" id="editModalLabel">Edit: '<%= @context %>'</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
	    <div class="form-group row">
	      <%= label_tag :title, class: 'col-form-label col-sm-4' %>
	      <div class="col-sm-10">
	        <input type="text" id="title" name="title" value="<%= @feed[:title] %>" class="form-control">
	        <%# text_field_tag :title, {value: @feed[:title], class: 'form-control'} %>
	      </div>
	    </div>
	    <div class="form-group row">
	      <label for="rss_url" class="col-form-label col-sm-4 col-form-label-sm">RSS&nbsp;URL:</label>
	      <div class="col-sm-10">
	        <%= url_field_tag :rss_url, value: @feed[:rss_url], class: 'form-control' %>
	      </div>
	    </div>

	    <div class="form-group form-check">
	      <table class="use_log_flags">
	        <tr>
		  <th></th>
		  <th>Use</th>
		  <th>Log</th>
		  <th>Log words</th>
		</tr>
		<tr>
		  <td>Body</td>
		  <td><%= check_box_tag :use_body, checked: @feed[:use_body] %></td>
	      	  <td><%= check_box_tag :log_body, checked: @feed[:log_body] %></td>
		  <td><%= check_box_tag :log_body_words, checked: @feed[:log_body_words] %></td>
		</tr>
		<tr>
		  <td>Description</td>
		  <td>
		    <%= check_box_tag :use_description, checked: @feed[:use_description] %>
		  </td>
		  <td>
		    <%= check_box_tag :log_description, checked: @feed[:log_description] %>
		  </td>
		  <td>
		    <%= check_box_tag :log_description_words, checked: @feed[:log_description_words] %>
 	          </td>
		</tr>
	      </table>
	    </div>
          </div>

	  <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
	    <%= submit_tag 'Update', class: 'btn btn-danger btn-small' %>
	  </div>
	<% end %>
      </div>
    </div>
  </div>


  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete <%= @context %> feed</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This action cannot be undone.
	</div>
        <div class="modal-footer">
          <% form_tag url(:feed, :destroy, id: @feed[:id]), method: :delete do %>
	    <%= hidden_field_tag :origin, value: @origin %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
	    <%= submit_tag 'Delete', class: 'btn btn-danger btn-small' %>
	  <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @posts.current_page_record_count == 0 %>
    <h2 class="card-content" style="text-align: center">
      No posts
    </h2>
  <% else %>
    <%= partial('layouts/pagination', object: @posts) if (PAGINATION & POST_TOP) != 0 %>

    <table id="post" class="table table-striped">
      <tbody>
        <%= partial 'post/post', collection: @posts %>
      </tbody>
    </table>

    <%= partial('layouts/pagination', object: @posts) if (PAGINATION & POST_BOTTOM) != 0%>
  <% end %>
</div>
