<% hide_url = url_for(:post, :hide, id: post.id, origin: @origin) %>
<% down_url = url_for(:post, :down, id: post.id, origin: @origin) %>


<tr id="post<%= post.id %>">
  <td>
    <%= link_to(post.name, url_for(:post, :show, id: post.id, origin: @origin),
          class: post_classes(post),
	  title: "#{post.feed.name}  #{short_datetime(post.published_at)}") %>
  </td>
  <td>
    <%= post.status %>
  </td>
  <td style="width: 3em">
    <div>
      <%= link_to(SafeBuffer.new('&times;'), hide_url, method: :put, class: 'btn btn-link action', style: 'padding: 0') %>
      <%= link_to(SafeBuffer.new('&darr;'), down_url, method: :put, class: 'btn btn-link action', style: 'padding: 0') %>
    </div>
  </td>
</tr>

<%= javascript_include_tag 'back_nav' %>
