<div class="card">
  <div class="card-header bg-info">
    <%= link_to (@context =~ /^Search: /) ? BACK_ICON : TO_FEED_ICON, @back_url, title: @back_title,
          class: 'btn btn-link navigation'
    %>

    <h2 class="card-title"><%= @context %></h2>

    <%= partial 'layouts/flash' %>
  </div>

  <% if @posts.current_page_record_count == 0 %>
    <h2 class="card-content" style="text-align: center">
      No posts
    </h2>
  <% else %>
    <%= partial('layouts/pagination', object: @posts) if (PAGINATION & POST_TOP) != 0 %>

    <table id="post" class="table table-striped">
      <tbody>
        <%= partial 'post/post', collection: @posts %>
      </tbody>
    </table>

    <%= partial('layouts/pagination', object: @posts) if (PAGINATION & POST_BOTTOM) != 0%>
  <% end %>
</div>
