<div class="card">
  <div class="card-header bg-info">
    <a href="<%= url_for :feed, :index %>" class="btn btn-link">
      &larr;
    </a>

    <h2 class="card-title"><%= @context %></h2>
    
    <%= partial 'layouts/flash' %>
  </div>

  <% if @posts.size == 0 %>
    <h2 class="card-content" style="text-align: center">
      No posts
    </h2>
  <% else %>
    <%= partial('layouts/pagination', object: @posts, locals: {view: :post}) if ENV['TOP_PAGINATION']%>

    <table id="post" class="table table-striped">
      <tbody>
        <%= partial 'post/post', collection: @posts %>
      </tbody>
    </table>

    <%= partial('layouts/pagination', object: @posts, locals: {view: :post}) if !ENV['TOP_PAGINATION']%>
  <% end %>
</div>

