<% unclick_url = url_for(:post, :unclick, id: @post.id, origin: @origin) %>
<% hide_url = url_for(:post, :hide, id: @post.id, origin: @origin) %>
<% down_url = url_for(:post, :down, id: @post.id, origin: @origin) %>

<div class="card">
  <div class="card-header bg-info">
    <a href="<%= url_for @origin %>" class="btn btn-link navigation">
      &larr;
    </a>
    
    <div style="float: right">
      <%= link_to(SafeBuffer.new('&#x27F2;'), unclick_url, method: :put, class: 'btn btn-link action', style: 'font-size: x-large') %>
      <%= link_to(SafeBuffer.new('&times;'), hide_url, method: :put, class: 'btn btn-link action') %>
      <%= link_to(SafeBuffer.new('&darr;'), down_url, method: :put, class: 'btn btn-link action') %>
    </div>
    
    <h2 class="card-title"><%= link_to(@post.name, @post.url, target: '_blank',
	  title: "#{@post.feed.name}  #{short_datetime(@post.published_at)}") %></h2>

    <%= partial 'layouts/flash' %>
  </div>

  <div class="card-body">
    <p class="card-text">
      <%== @post.description || '<b><em>Missing description or invalid UTF-8</em></b>' %>
    </p>
  </div>
</div>
