<% unclick_url = url_for(:post, :unclick, id: @post.id, origin: @origin) %>
<% hide_url = url_for(:post, :hide, id: @post.id, origin: @origin) %>
<% down_url = url_for(:post, :down, id: @post.id, origin: @origin) %>
<% title = "#{@post.feed.name} #{short_datetime(@post.published_at)}" %>

<div class="card">
  <div class="card-header bg-info">
    <%= link_to BACK_ICON, @origin, title: @back_title, class: 'btn btn-link navigation' %>
    
    <div class="actions">
      <%= link_to UNDO_ICON, unclick_url, method: :put, title: 'unclick', class: 'btn btn-link action' %>
      <%= link_to DELETE_ICON, hide_url, method: :put, title: 'hide', class: 'btn btn-link action' %>
      <%= link_to DOWN_VOTE_ICON, down_url, method: :put, title: 'down vote', class: 'btn btn-link action' %>
    </div>

    <h2 class="card-title">
      <%= link_to(@post.name, @post.url, target: '_blank', title: title) %>
    </h2>

    <%= partial 'layouts/flash' %>
  </div>

  <div class="card-body">
    <table>
      <tr>
        <td style="vertical-align: top">
          <p class="card-text">
            <%== @post[:description] || @post.synopsis || '<b><em>Missing description or invalid UTF-8</em></b>' %>
          </p>
	</td>
	<td style="vertical-align: top">
	  <table>
	    <% @words.take(DISPLAY_WORDS).each do |w| %>
	      <tr><td>
	        <%= w[:name] %>&nbsp;(<%= w[:count] %>:<%= w[:frequency].round %>)
	      </td></tr>
	    <% end %>
	  </table>
	</td>
      </tr>
      <tr>
        <td colspan="2">
	  <div>
	    <h2>Related posts:</h2>
	 </div>
	</td>
      </tr>
      <% @related.each do |r| %>
        <tr>
	  <td style="vertical-align: top">
	    <br>
	    <h4><%= link_to_post_show(r, @origin, false) %>&nbsp;(<%= r[:strength].round %>)</h4>

	    <p class="card-text">
	      <%= truncate(r.description, {length: VARCHAR_MAX, omission: ELLIPSIS}) %>
	    </p>
	  </td>
	  <td style="vertical-align: top">
	    <% r[:wic].take(DISPLAY_WORDS).each do |w| %>
	      <br><%= w[:name] %>&nbsp;(<%= w[:count] %>:<%= w[:frequency].round %>)
	    <% end %>
	  </td>
	</tr>
      <% end %>
    </table>
  </div>
</div>
