<% unclick_url = url_for(:post, :unclick, id: @post.id, origin: @origin) %>
<% hide_url = url_for(:post, :hide, id: @post.id, origin: @origin) %>
<% down_url = url_for(:post, :down, id: @post.id, origin: @origin) %>

<div class="card">
  <div class="card-header bg-info">
    <%= link_to LEFT_ARROW, @origin, title: @back_title, class: 'btn btn-link navigation' %>
    
    <div style="float: right">
      <%= link_to UNDO, unclick_url, method: :put, title: 'unclick', class: 'btn btn-link action', style: 'font-size: x-large' %>
      <%= link_to TIMES, hide_url, method: :put, title: 'hide', class: 'btn btn-link action' %>
      <%= link_to DOWN_ARROW, down_url, method: :put, title: 'down vote', class: 'btn btn-link action' %>
    </div>
    
    <h2 class="card-title"><%= link_to(@post.name, @post.url, target: '_blank',
	  title: "#{@post.feed.name}  #{short_datetime(@post.published_at)}") %></h2>

    <%= partial 'layouts/flash' %>
  </div>

  <div class="card-body">
    <table>
      <tr>
        <td style="vertical-align: top">
          <p class="card-text">
            <%== @post.description || @post.synopsis || '<b><em>Missing description or invalid UTF-8</em></b>' %>
          </p>
	</td>
	<td>
	  <table>
	    <% @post.word_cloud.sort{|a, b| b[:count] <=> a[:count]}.first(10).each do |w| %>
	      <tr><td>
	        <%= w[:name] %>&nbsp;(<%= w[:count] || w[:frequency] %>)
	      </td></tr>
	    <% end %>
	  </table>
	</td>
      </tr>
    </table>
  </div>
</div>
